body{

font-family:Arial;
background:#f4f6fb;
margin:0;

}

header{

background:#4f46e5;
color:white;
padding:20px;
text-align:center;

}

.container{

width:900px;
margin:auto;
margin-top:30px;

}

input,select{

padding:8px;
margin:5px;

}

button{

padding:6px 10px;
margin:2px;
cursor:pointer;

}

table{

width:100%;
background:white;
border-collapse:collapse;

}

th,td{

padding:10px;
border:1px solid #ddd;
text-align:center;

}

th{

background:#eef2ff;
cursor:pointer;

}